# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea/*
!.idea/scopes

common/build


fabric/.gradle
fabric/build
fabric/runs

neoforge/build
neoforge/runs

# gradle
build
.gradle

# other
eclipse
run
runs
